.register__buttonContainer {
    width: 100%;
    border-radius: var(--radius-1)
}

.register__button {
    width: 100%;
    border-radius: var(--radius-1);
    border: none;
    padding: 0.5rem;
    background-color: var(--color-gray-1);
    color: var(--color-gray-0);

    &:focus {
        background-color: var(--color-gray-2);
    }

    &:hover {
        background-color: var(--color-gray-2);
    }
}

.login__button {
    border-radius: var(--radius-1);
    border: none;
    padding: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-gray-0);

    &:focus {
        background-color: var(--color-primary-focus);
    }

    &:hover {
        background-color: var(--color-primary-focus);
    }
}

.header__button {
    border-radius: var(--radius-1);
    border: none;
    padding: 0.5rem;
    background-color: var(--color-gray-3);
    color: var(--color-gray-0);
    font-size: var(--font-size-3);
}

.registerPage__button {
    border-radius: var(--radius-1);
    border: none;
    padding: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-gray-0);

    &:focus {
        background-color: var(--color-primary-focus);
    }

    &:hover {
        background-color: var(--color-primary-focus);
    }
}

.techs__button{
    border-radius: var(--radius-1);
    border: none;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: var(--color-gray-3);
    color: var(--color-gray-0);
    font-size: var(--font-size-3);
}

.modal__close {
    border: none;
    background-color: transparent;
    color: var(--color-gray-1);
}
